<aside class="col-md-3">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="active"><a href="#">Dashboard</a></li>
		<li role="presentation"><a href="#">Profile</a></li>
		<li role="presentation"><a href="#">Messages</a></li>
	</ul>
</aside>
<article class="col-md-9 content">
	<nav class="row">
		<span class="col-lg-12">
			<img id="icon-home" src="/assets/icon-home.png">
			<span class="description-title">Dashboard</span>
		</span>
	</nav>
	<section>
		<table>Top Energy Users (by facility)</table>
	</section>
	<section class="row small-widgets">
		<span class="col-md-4 widget-col">
			<div id="piechart"></div>
		</span>
		<span class="col-md-4 widget-col">
			<span class="widget widget-2"></span>
		</span>
		<span class="col-md-4 widget-col">
			<span class="widget widget-3"></span>
		</span>
	</section>
	<section class="row main-widgets">
		<span class="col-md-12 widget-col" >
			<div id="chart_div"></div>
		</span>
	</section>
	<section class="row">
		<div class="col-md-12 widget-col" >
			<div id="map" class=""></div>
		</div>
	</section>
</atricle>
